.App {
  text-align: center;
}

.App {
  text-align: center;
}

.App-NavBar {
  background-color: #55585d;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Nav-Container {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  background-color: #c2c5ca;
  height: 100vh;
  width: 100vw;
}

.App-Container {
  min-width: 100%;
  padding: 0 0;
  margin-right: 0;
  margin-left: 0;
  background-color: #c2c5ca;
  height: 85vh;
  width: 85vw;
}

.App-NavLink {
  display: block;
  padding: 1 rem 2 rem;
  color: #020d1d;
  font-weight: 600;
  text-decoration: none;
  transition: color .15s;
}

.App-NavItem {
  background-color: #55585d;
  display:inline;
  padding: .02rem 1rem;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: color .15s;
}

.App-NavItem:hover {
  background-color: #5870a0;
  cursor: pointer;
}
.App-NavItem.active {
  background-color: #000d22;
}


.App-content {
  padding: 10px;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #0f1314;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}